In [4]:
import pandas as pd
import numpy as np

dfMovies = pd.read_csv('content/IMDb movies.csv', dtype={"year": str})
dfNames = pd.read_csv('content/IMDb names.csv')
dfRatings = pd.read_csv('content/IMDb ratings.csv')
dfTitlePrincipals = pd.read_csv('content/IMDb title_principals.csv')

# just run this cell once to load data into memory

In [5]:
dfMovies = dfMovies[['imdb_title_id', 'title', 'year','genre', 'duration', 'country', 'language', 'director', 'writer', 'production_company', 'budget', 'worlwide_gross_income']]
dfNames = dfNames[['imdb_name_id', 'name']]
dfRatings = dfRatings[['imdb_title_id', 'weighted_average_vote', 'total_votes', 'mean_vote' ]] # come back to this and include age groups/male/female votes
dfTitlePrincipals = dfTitlePrincipals[['imdb_title_id', 'ordering', 'imdb_name_id']] # shouyld we get category? "actress"/"actor" (dont know if its necessary)

labelVector = dfRatings['weighted_average_vote']




# dfMovies = pd.merge(dfMovies, dfRatings, on=["imdb_title_id"]) #@Jayden, this is sql equivalent inner join on imdb_title_id

In [6]:
dfMovies.year = dfMovies.year.str.extract('(\d+)')
dfMovies.budget = dfMovies.budget.str.extract('(\d+)')
dfMovies.worlwide_gross_income = dfMovies.worlwide_gross_income.str.extract('(\d+)')

dfMovies.year = pd.to_numeric(dfMovies.year, errors='coerce').astype('Int64')
dfMovies.budget = pd.to_numeric(dfMovies.budget, errors='coerce').astype('Int64')
dfMovies.worlwide_gross_income = pd.to_numeric(dfMovies.worlwide_gross_income, errors='coerce').astype('Int64')

In [7]:
def listEncode(df, col):
  if type(col) != list:
    col = [col]
  
  toEncode = df[col[0]]
  for element in range(1, len(col)):
    toEncode += ", " + df[col[element]]
  one_hot = toEncode.str.get_dummies(sep=', ')
  df = df.drop(col,axis = 1)
  df = df.join(one_hot)
  return df

In [8]:
moviesToEncode = ["genre", "country", "language"] 
dfMovies = listEncode(dfMovies, moviesToEncode)

In [13]:
X = dfMovies.dropna()
print(X.describe())

               year      duration        budget  worlwide_gross_income  \
count  12572.000000  12572.000000  1.257200e+04           1.257200e+04
mean    2004.422606    106.257397  7.737259e+07           4.895112e+07
std       12.788855     19.606431  1.363716e+09           1.336976e+08
min     1920.000000     60.000000  0.000000e+00           1.600000e+01
25%     2000.000000     93.000000  2.750000e+06           3.691395e+05
50%     2007.500000    102.000000  1.000000e+07           4.612604e+06
75%     2013.000000    115.000000  2.700000e+07           3.496173e+07
max     2020.000000    321.000000  1.200000e+11           2.797801e+09

          Abkhazian    Aboriginal        Acholi        Action    Adult  \
count  12572.000000  12572.000000  12572.000000  12572.000000  12572.0
mean       0.000080      0.001193      0.000080      0.211343      0.0
std        0.008919      0.034522      0.008919      0.408277      0.0
min        0.000000      0.000000      0.000000      0.000000      0.0
25%        0.000000      0.000000      0.000000      0.000000      0.0
50%        0.000000      0.000000      0.000000      0.000000      0.0
75%        0.000000      0.000000      0.000000      0.000000      0.0
max        1.000000      1.000000      1.000000      1.000000      0.0

         Adventure  ...         Xhosa    Yakut         Yemen       Yiddish  \
count  12572.00000  ...  12572.000000  12572.0  12572.000000  12572.000000
mean       0.14580  ...      0.001432      0.0      0.000080      0.002784
std        0.35292  ...      0.037813      0.0      0.008919      0.052692
min        0.00000  ...      0.000000      0.0      0.000000      0.000000
25%        0.00000  ...      0.000000      0.0      0.000000      0.000000
50%        0.00000  ...      0.000000      0.0      0.000000      0.000000
75%        0.00000  ...      0.000000      0.0      0.000000      0.000000
max        1.00000  ...      1.000000      0.0      1.000000      1.000000

             Yoruba    Yugoslavia    Zaire   Zambia  Zimbabwe          Zulu
count  12572.000000  12572.000000  12572.0  12572.0   12572.0  12572.000000
mean       0.000239      0.000239      0.0      0.0       0.0      0.001352
std        0.015446      0.015446      0.0      0.0       0.0      0.036749
min        0.000000      0.000000      0.0      0.0       0.0      0.000000
25%        0.000000      0.000000      0.0      0.0       0.0      0.000000
50%        0.000000      0.000000      0.0      0.0       0.0      0.000000
75%        0.000000      0.000000      0.0      0.0       0.0      0.000000
max        1.000000      1.000000      0.0      0.0       0.0      1.000000

[8 rows x 489 columns]